<h1>Stupid Coaching</h1>
<div height="400px";>
  <div class="p-3 mb-2 bg-light text-dark" width="400px";>
    <p><%= @user_request%></p>
    <p><em>- You</em></p>
  </div>
  <div class="p-3 mb-2 bg-warning background" width="400px";>
    <p><%= @result %></p>
    <p id="opacity"><em>- Your Coach</em></p>
  </div>
</div>
