<h1>hello World</h1>

<form action="answer" method="get" data-turbo="false">
  <input type="text" name="questions" class = "beauty">
  <input type="submit" value="Ask Something"class = "btn btn-primary">
</form>
